extends layout

block content
  h1= title
  p Bienvenido a #{title}
  div(class='panel-bodypanel-body')
    div(class='table-responsive col-lg-4')
      table(class='table table-bordered table-hover table-striped')
        tr
          th(rowspan='4') ALUMNO
          td 
            a(href='alumnoCreate') Crear (Create)
        tr
          td 
            a(href='alumnoRead') Leer (Retrieve)
        tr
          td 
            a(href='alumnoUpdate') Modificar (Update)
        tr
          td 
            a(href='alumnoDelete') Borrar (Delete)
    div(class='table-responsive col-lg-4')
      table(class='table table-bordered table-hover table-striped')
        tr
          th(rowspan='4') PROFESOR
          td 
            a(href='profesorCreate') Crear (Create)
        tr
          td 
            a(href='profesorRead') Leer (Retrieve)
        tr
          td 
            a(href='profesorUpdate') Modificar (Update)
        tr
          td 
            a(href='profesorDelete') Borrar (Delete)
    div(class='table-responsive col-lg-4')
      table(class='table table-bordered table-hover table-striped')
        tr
          th(rowspan='4') ASIGNATURA
          td 
            a(href='asignaturaCreate') Crear (Create)
        tr
          td 
            a(href='asignaturaRead') Leer (Retrieve)
        tr
          td 
            a(href='asignaturaUpdate') Modificar (Update)
        tr
          td 
            a(href='asignaturaDelete') Borrar (Delete)
