extends layout

block content
  div(class='panel-body')
    a(href='/' class="col-sm-1")
      img(src="./images/home.png" height="25" width="25" alt='Inicio' class="img-responsive")
    p Profesores
  div(class='panel-body')
    div(class='table-responsive')
      table(class='table table-bordered table-hover table-striped')
        tr
          th ID
          th NOMBRE
          th APELLIDO
          th EMAIL
          each profesor in listaProfesores
            tr
              td #{profesor.id}
              td #{profesor.nombre}
              td #{profesor.apellido}
              td #{profesor.email}